table {
    width: 100%;
    table-layout: fixed;
}
th {
    text-align: center;
}
.table_style {
    margin: auto;
    background-color: #99CCFF;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr {
    height: 44px;
    text-align: center;
}

.pages {
    margin-top: 2%;
    margin-bottom: 2%;
}

.paging {
    float: right;
    font-weight: bolder;
    border: none;
    background-color: #5b9bde;
    height: 33px;
    width: 77px;
}
