table {
    width: 100%;
    table-layout: fixed;
}
th {
    text-align: center;
}
.table_style {
    margin: auto;
    background-color: #99CCFF;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr {
    height: 44px;
    text-align: center;
}

.pages {
    margin-top: 2%;
    margin-bottom: 2%;
}

.paging {
    float: right;
    font-weight: bolder;
    border: none;
    background-color: #5b9bde;
    height: 33px;
    width: 77px;
}

tr span:hover,
tr span:focus {
    color: #0574ea;
    text-decoration: none;
    cursor: pointer;
}

.modal_cover {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
}
.modal_gif {
    display: none;
    position: absolute;
    width: 100px;
    z-index: 99;
    height: 100px;
    /* 水平垂直居中 */
    left: 45%;
    top: 45%;
    transform: translate(-50%,-50%);
    /* 超出高度右侧出现垂直滚动条 */
    overflow:auto;
    overflow-x:hidden;
    background: url("loading.gif") no-repeat;
    background-size: 80px 80px;
}

.modal .commentById {
    margin-top: 1%;
    margin-bottom: 0;
}

.modal .commentTimeById {
    text-align: right;
    margin-top: 0;
}
