.container
{
    width: 90%;
    margin-top: 1%;
}
.filter {
    float: left;
    width: 16%;
}
label
{
    margin-left: 1%;
}
input
{
    width: 69%;
}
select
{
    width: 60%;
    height: 25px;
}
button
{
    width: 5%;
    margin-left: 25px;
}