.container
{
    width: 90%;
    margin-top: 1%;
}
.filter {
    float: left;
    width: 16%;
}
label
{
    margin-left: 5%;
}
input
{
    width: 69%;
}
select
{
    width: 60%;
    height: 25px;
}
button
{
    width: 7%;
    margin-left: 25px;
}

li {
    margin-top: 8px;
    margin-bottom: 8px;
}
