{% extends "template.html" %}
{% block csss %}
<link href="../static/css/answer.css" rel="stylesheet">
{% endblock %}
{% block tables %}
<table border="1" cellspacing="0" cellpadding="6">
    <tr class="table_style">
        <th width="15%">问题Id</th>
        <th width="10%">回答Id</th>
        <th width="15%">评论人</th>
        <th width="40%">评论内容</th>
        <th width="10%">评论类型</th>
        <th width="10%">评论时间</th>
    </tr>
    {% for data in datas %}
        <tr>
            <td><a href="https://zhihu.com/question/{{ data[0] }}" target="_blank">{{ data[0] }}</a></td>
            <td><a href="https://zhihu.com/question/{{ data[0] }}/answer/{{ data[1] }}" target="_blank">{{ data[1] }}</a></td>
            <td>{{ data[2] }}</td>
            <td title="{{ data[3] }}">{{ data[3] }}</td>
            {% if data[4] %}
            <td>被动回复</td>
            {% else %}
            <td>主动评论</td>
            {% endif %}
            <td>{{ data[5] }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}