{% extends "template.html" %}
{% block csss %}
<link href="..{{ context }}/static/css/answer.css" rel="stylesheet">
{% endblock %}
{% block tables %}
<table border="1" cellspacing="0" cellpadding="6">
    <tr class="table_style">
        <th width="12%">问题Id</th>
        <th width="12%">回答Id</th>
        <th width="15%">评论人</th>
        <th width="40%">评论内容</th>
        <th width="10%">评论类型</th>
        <th width="11%">评论时间</th>
    </tr>
    {% for data in datas %}
        <tr>
            <td><a href="https://zhihu.com/question/{{ data[0] }}" target="_blank">{{ data[0] }}</a></td>
            {% if data[0] %}
                <td><a href="https://zhihu.com/question/{{ data[0] }}/answer/{{ data[1] }}" target="_blank">{{ data[1] }}</a></td>
            {% else %}
                <td>{{ data[1] }}</td>
            {% endif %}
            <td>{{ data[2] }}</td>
            <td title="{{ data[3] }}" style="text-align: left;">{{ data[3] }}</td>
            {% if data[4] %}
                <td><span onclick="getCommentById('{{ data[4] }}')">被动回复</span></td>
            {% else %}
                <td><span onclick="getCommentById('{{ data[5] }}')">主动评论</span></td>
            {% endif %}
            <td>{{ data[6] }}</td>
        </tr>
    {% endfor %}
</table>
<div class="pages">
    {% if total > page * 15 %}
        <button class="paging" onclick="to_next_page('{{ setting }}')">Next >></button>
    {% endif %}
    {% if total > 15 and page > 1 %}
        <button class="paging" onclick="to_up_page('{{ setting }}')"><< Pre</button>
    {% endif %}
</div>
<div class="modal_cover"><div class="modal_gif"></div></div>
{% endblock %}

{% block comment %}
<div id="myModal" class="modal">
	<div class="modal-content">
          <div class="modal-header">
              <span class="close">&times;</span>
              <h2>评论内容</h2>
          </div>
          <div class="modal-body">
              <div id="modal_inner"></div>
          </div>
	  </div>
	</div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        load('{{ setting }}');
    </script>
{% endblock %}
