{% extends "template.html" %}
{% block csss %}
{% endblock %}
{% block comment %}
    <div class="container" style="width: 60%; margin-left: 6%;">
        <h3 style="margin-bottom: 5%;">我们不生产答案，我们只是知乎的搬运工</h3>
        <h4>声明：</h4>
        <ol>
            <li>本网站提供的所有数据仅供学习交流使用，切勿作为他用。 </li>
            <li>本网站提供的所有数据仅供参考，对于使用本站数据产生的后果，本站概不负责。</li>
            <li>本网站如有侵权，请<a href="#" onclick="connect_modal()">联系我</a>。</li>
        </ol>
        <h4 style="margin-top:3%;">使用说明：</h4>
        <p style="margin-left: 2%;">通过设置筛选条件，可以查询所有回答内容和评论内容。为了保证数据的安全性和服务的稳定性，仅限查询前30条数据。如需查询更多数据，请<a href="#" onclick="connect_modal()">联系我</a>。</p>
        <ol>
            <li>查询类型如果选择“回答”，则根据回答Id查找这个回答的历史更新记录，可以查看每次更新的内容和更新时间；</li>
            <li><p>查询类型如果选择“评论”，则根据用户Id或者用户的url-token查找这个用户的历史评论记录，可以查看这个用户评论了多少个回答以及评论内容。</p>
                <p>评论类型有两种：主动评论和被动回复，主动评论的意思是这个用户评论别人的回答；被动回复的意思是自己的回答，别人评论了，自己回复。</p>
                <p>查看用户评论时，可重点关注主动评论的内容和评论时间。由于很多回答设置了“评论由作者审核后展示”，很多评论是查不到的。</p>
                点击评论类型，可以这个评论的评论内容和回复内容。如果url-token查不到，可换成userId。
            </li>
            <li><p>查询类型如果选择“相似度”，则根据回答Id查找这个回答的最新更新内容，然后再查找和这个回答内容相似的所有回答。由于相似度需要大量计算，仅限查找最近的3个月的回答。</p>
                <p>相似度计算算法使用的是simhash，由于该算法是计算hash值并对数据进行降维，可能会导致完全不同的文本具有相似的hash值，故相似度计算仅供参考。</p>
                <p>相似度大于90%的是高度相似，相似度大于60%的是大概率相似。</p>
            </li>
            <li>查询类型如果选择“关键词”，先选择地区，然后输入关键词，可以查询包含关键词的所有回答。<p>例如你是个京二代，只想找个京二代，
                可选择北京，然后输入京二代就可以查找所有包含京二代的回答。</p>
            </li>
            <li>留言交流，点击 Forum 按钮，大家可以交流自己发现的“有趣”的回答，供大家避坑。</li>
        </ol>
        <h4 style="margin-top:3%;">使用须知：</h4>
        <ol>
            <li>本网站是依托阿里云服务器搭建的，服务器性能及其有限（因为穷租不起好的），为了避免可能的不友好的恶意请求导致系统不稳定，故对整个系统的请求频率进行限制，具体如下：
                <p>（1）Nginx对所有请求（包括静态文件资源的请求和查询数据接口的请求）的访问频率限制为 <span style="color: red; font-weight: bolder;">1个/秒</span>。若超过限制的频率，请求返回的状态码是520；若页面展示不正常，可尝试重复多次刷新页面。<br>
                （2）数据查询接口请求频率限制为 <span style="color: red; font-weight: bolder;">1个/5秒</span>。若超过限制的频率，页面会提示“当前系统繁忙，请稍后再试~”。</p></li>
            <li>如您在使用过程中有任何建议，可在这里<a href="#" onclick="connect_modal()">联系我</a>哦。</li>
        </ol>
    </div>

<div id="myModal" class="modal">
	<div class="modal-content">
          <div class="modal-header">
              <span class="close">&times;</span>
              <h2>联系我</h2>
          </div>
          <div class="modal-body">
              <div>
                  <label>联系方式：</label>
                  <input id="wechat" type="text" placeholder="请输入联系方式">
              </div>
              <div>
                  <label>输入内容：</label>
                  <textarea id="submit_content" rows="5" style="width: 69%;" placeholder="请输入内容"></textarea>
              </div>
          </div>
          <div class="modal-footer">
              <a class="cancel">取消</a>
              <a class="submit">提交</a>
	  </div>
	</div>
</div>
{% endblock %}