{% extends "template.html" %}
{% block csss %}
<link href="..{{ context }}/static/css/dashboard.css" rel="stylesheet">
{% endblock %}
{% block front_scripts %}
<script src="..{{ context }}/static/js/echarts.common.js"></script>
{% endblock %}
{% block comment %}
<div class="container">
    <div id="pie" style="width: 720px;height:480px;"></div>
</div>
{% endblock %}
{% block scripts %}
<script src="..{{ context }}/static/js/dashboard.js"></script>
<script type="text/javascript">
        plot_pie('{{ total }}', '{{ datas }}');
    </script>
{% endblock %}