{% extends "template.html" %}
{% block csss %}
<link href="..{{ context }}/static/css/forum.css" rel="stylesheet">
{% endblock %}
{% block comment %}
    <div class="container" style="width: 60%; margin-left: 6%;">
        <div class="comment">
            <h4>论坛</h4>
            <h5>时间</h5>
            <h5>热度</h5>
        </div>
        <div>
            {% for k, v in datas.items() %}
            <div>
                <div class="parentComment">
                    <div class="commenter">
                        <span class="name">用户 {{ v.name }}:</span>
                        <span class="content">{{ v.content }}</span>
                    </div>
                    <div class="action">
                        <span>{{ v.create_time }}</span>
                        <span>回复</span>
                    </div>
                </div>
                {% if v.child %}
                {% for d in v.child %}
                <div class="childComment">
                    <div class="commenter">
                        <span class="name">用户 {{ d.name }}:</span>
                        <span class="content">{{ d.content }}</span>
                    </div>
                    <div class="action">
                        <span>{{ d.create_time }}</span>
                        <span>回复</span>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}