{% extends "template.html" %}
{% block csss %}
<link href="..{{ context }}/static/css/forum.css" rel="stylesheet">
{% endblock %}
{% block comment %}
    <div class="container" style="width: 60%; margin-left: 6%;">
        <div class="comment">
            <h4>留言</h4>
            <h5>时间</h5>
            <h5>热度</h5>
        </div>
        <div>
            {% for k, v in datas.items() %}
            <div>
                <div class="parentComment">
                    <div class="commenter">
                        <span class="name">用户 {{ v.name }}:</span>
                        <span class="content">{{ v.content }}</span>
                    </div>
                    <div class="action">
                        <span>{{ v.create_time }}</span>
                        <button onclick="replys('{{ v.id }}', '{{ v.name }}')">回复</button>
                    </div>
                </div>
                {% if v.child %}
                {% for d in v.child %}
                <div class="childComment">
                    <div class="commenter">
                        <span class="name">用户 {{ d.name }}:</span>
                        <span class="content">{{ d.content }}</span>
                    </div>
                    <div class="action">
                        <span>{{ d.create_time }}</span>
                        <button onclick="replys('{{ d.id }}', '{{ d.name }}')">回复</button>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
<div class="pages">
    {% if total > page * 10 %}
        <button class="paging" onclick="to_next_comment('{{ page }}')">Next >></button>
    {% endif %}
    {% if total > 10 and page > 1 %}
        <button class="paging" onclick="to_up_comment('{{ page }}')"><< Pre</button>
    {% endif %}
</div>
<div class="input-comment">
    <div id="submit-comment">
        <textarea id="v-input" rows="2" placeholder="留言千万条，友善第一条"></textarea>
        <button onclick="submit()">发 布</button>
    </div>
    <div id="reply-comment" style="display: none">
        <textarea id="v-reply" rows="2"></textarea>
        <button onclick="reply()">发 布</button>
    </div>
</div>
{% endblock %}