{% extends "template.html" %}
{% block csss %}
<link href="..{{ context }}/static/css/forum.css" rel="stylesheet">
{% endblock %}
{% block comment %}
    <div class="container" style="width: 60%; margin-left: 6%;">
        <div class="comment">
            <h4>论坛</h4>
            <h5>时间</h5>
            <h5>热度</h5>
        </div>
        <div>
            <div class="parentComment">
                <div class="commenter">
                    <span class="name">12345678901234:</span>
                    <span class="content">dfsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</span>
                </div>
                <div class="action">
                    <span>2021-12-07 10:12:59</span>
                    <span>回复</span>
                </div>
            </div>
            <div class="childComment">
                <div class="commenter">
                    <span class="name">12345678901234:</span>
                    <span class="content">dfsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</span>
                </div>
                <div class="action">
                    <span>2021-12-07 10:12:59</span>
                    <span>回复</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}