{% extends "template.html" %}
{% block csss %}
<link href="..{{ context }}/static/css/answer.css" rel="stylesheet">
{% endblock %}

{% block tables %}
<table border="1" cellspacing="0" cellpadding="6">
    <tr class="table_style">
        <th width="8%">问题Id</th>
        <th width="8%">回答Id</th>
        <th width="9%">回答人</th>
        <th width="50%">回答内容</th>
        <th width="10%">创建时间</th>
        <th width="10%">更新时间</th>
        <th width="5%">相似度</th>
    </tr>
    {% for data in datas %}
        <tr>
            <td><a href="https://zhihu.com/question/{{ data[0] }}" target="_blank">{{ data[0] }}</a></td>
            {% if data[0] %}
                <td><a href="https://zhihu.com/question/{{ data[0] }}/answer/{{ data[1] }}" target="_blank">{{ data[1] }}</a></td>
            {% else %}
                <td>{{ data[1] }}</td>
            {% endif %}
            <td>{{ data[2] }}</td>
            <td title="{{ data[3] }}" style="text-align: left;">{{ data[3] }}</td>
            <td>{{ data[4] }}</td>
            <td>{{ data[5] }}</td>
            <td>{{ data[5] }}%</td>
        </tr>
    {% endfor %}
</table>
<div class="pages">
    {% if total > page * 15 %}
        <button class="paging" onclick="to_next_page()">Next >></button>
    {% else %}
        <button class="paging" onclick="to_next_page()" style="display: none;">Next >></button>
    {% endif %}
    {% if total <= 15 or page < 2 %}
        <button class="paging" onclick="to_up_page()" style="display: none;"><< Pre</button>
    {% else %}
        <button class="paging" onclick="to_up_page()"><< Pre</button>
    {% endif %}
</div>
{% endblock %}
