<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Images View</title>

    <link href="../static/favicon.ico" rel="shortcut ico" type="image/x-icon">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/image_css.css" rel="stylesheet">

    <script src="../static/js/jquery.js"></script>
</head>
<body>
    {% block body %}
        <div class="container">
            <label>查询类型:</label>
            <select>
                <option value="0">回答</option>
                <option value="1">评论</option>
                <option value="2">相似度</option>
                <option value="3">图片</option>
            </select>
            <label>问题Id:</label>
            <input type="text" placeholder="问题Id">
            <label>回答Id:</label>
            <input type="text" placeholder="回答Id">
            <label>用户Id:</label>
            <input type="text" placeholder="用户Id">
            <label>关键词:</label>
            <input type="text" placeholder="回答关键词">
            <button onchange="">Search</button>
            <button onchange="">Help</button>
        </div>
        <div class="container">
            {% block images %}
            {% endblock %}
        </div>
    {% endblock %}
</body>
</html>